.content {
	width: auto;
	margin: left; 
	background: #fff; 
	padding: 1px 1px; 
	text-align: justify;
}

.footer-bg {
	background-image: linear-gradient(to bottom, #3C3C3C 0px, #222222 100%);
	color: #999999;
}

}
.b-top {
	z-index: 2600;
	position: fixed;
	left: 0;
	bottom: 10px;
	width: 40%;
	margin-left: 50%;
	opacity: 0.5;
	filter: alpha(opacity = 50);
}
.b-top:hover {
	opacity: 1;
	filter: alpha(opacity = 100);
	cursor: pointer;
}
.b-top-but {
	z-index: 2600;
	position: absolute;
	display: block;
	left: 56px;
	bottom: 0;
	margin: 100% 0 0 0 ;
	padding: 32px 12px 4px;
	color: white;
	border-radius: 7px;
	background: #888 url(../images/b-top.png) no-repeat 50% 11px;
}
html,body,.container,.content {
	height: 100%;
}
.container,.content {
	position: relative;
}
.proper-content {
	padding-top: 40px; /* >= navbar height */
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -50px; /* same as the footer */
}
.push {
	height: 50px; /* same as the footer */
}

.footer-wrapper {
	position: relative;
	height: 50px;
}